{% extends 'assets/index.html' %}

{% load i18n %}

{% block content %}
    <div class="add-asset-container">
        <div></div>
        <div id="stepper1" class="bs-stepper linear">
            <div class="bs-stepper-header" role="tablist">
                <div class="step active" data-target="#step-l-1">
                    <button type="button" class="step-trigger" role="tab" id="stepper1trigger1" aria-controls="step-l-1"
                            aria-selected="false" disabled="disabled">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">Asset Information</span>
                    </button>
                </div>
                <div class="bs-stepper-line"></div>
                <div class="step" data-target="#step-l-2">
                    <button type="button" class="step-trigger" role="tab" id="stepper1trigger2" aria-controls="step-l-2"
                            aria-selected="true">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">Thumbnail Selection</span>
                    </button>
                </div>

            </div>
            <div class="bs-stepper-content">

                <form class="container center_div needs-validation was-validated" id="add-asset-form" method="post"
                      novalidate=""
                      enctype="multipart/form-data">
                    {% csrf_token %}

                    <div id="step-l-1" class="bs-stepper-pane active dstepper-block" role="tabpanel"
                         aria-labelledby="stepper1trigger1">

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Asset Name</span>
                            </div>
                            <input type="text" name="Name" class="form-control" id="formControlInput0"
                                   placeholder="Mona Lisa" required="">
                        </div>

{#                        <div class="input-group">#}
{#                            <div class="input-group-prepend">#}
{#                                <span class="input-group-text">Owner</span>#}
{#                            </div>#}
{#                            <input type="email" name="Asset Owner" class="form-control" id="formControlInput1"#}
{#                                   placeholder="name@example.com" required="">#}
{#                        </div>#}

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Artist</span>
                            </div>
                            <input type="text" name="Artist" class="form-control" id="formControlInput2"
                                   placeholder="Leonardo da Vinci" required="">
                        </div>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Price</span>
                            </div>
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>

                            <input id="input_price" type="text" name="Price" class="form-control"
                                   aria-label="Amount (to the nearest dollar)">
                            <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                            </div>
                        </div>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Description</span>
                            </div>
                            <textarea type="text" name="Description" class="form-control" id="formControlTextarea1"
                                      rows="3"></textarea>
                        </div>

                        <div class="input-group">
                            <input type="file" name="Images" class="form-control-file" id="assetImgUploads" multiple>
                        </div>

                        <label class="switch">
                            <span class="slider round">Publicly Viewable?</span>
                            <input type="checkbox" name="Public" checked data-toggle="toggle">
                        </label>
                        <div class="add-asset-stepper-button-container">
                            <button class="btn btn-primary add-asset-prev-btn" type="button" disabled>Prev</button>
                            <button class="btn btn-primary add-asset-nxt-btn btn-next-form" type="button">Next</button>
                        </div>
                    </div>
                    <div id="step-l-2" class="bs-stepper-pane" role="tabpanel" aria-labelledby="stepper1trigger2">
                        <div id="add-asset-image-previews">
                            <div id="add-asset-to-thumbnail">

                            </div>
                            <div id="add-asset-to-thumbnail-to-consider">

                            </div>
                        </div>
                        <div class="add-asset-stepper-button-container">
                            <button class="btn btn-primary add-asset-prev-btn" type="button">Prev</button>
                            <input type="submit" class="btn btn-primary" value="Submit"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div></div>
    </div>

{% endblock %}