{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block section %}
    <div class="container center_div">
        <form method="post" id="profile-form">
            {% csrf_token %}
            {% if user_profile.is_user_requesting_themself %}
                <div class="form-group">
                    <label for="formControlInput7">Account Type&nbsp;
                        <a class='catena-tooltip' href="#" data-toggle="tooltip"
                           title="The type of account you have.">
                            <i class="fa fa-question-circle"></i>
                        </a>
                    </label>
                    <input type="email" class="form-control" id="formControlInput7"
                           placeholder="{{ user_profile.account_type }}"
                           readonly>
                </div>
                <div class="form-group">
                    <label for="formControlInput1">Email address&nbsp;
                        <a class='catena-tooltip' href="#" data-toggle="tooltip"
                           title="Your email address.">
                            <i class="fa fa-question-circle"></i>
                        </a>
                    </label>
                    <input type="email" class="form-control" id="formControlInput1"
                           placeholder="{{ user_profile.email }}"
                           readonly>
                </div>
                <div class="form-group">
                    <label for="formControlInput2">Name&nbsp;
                        <a class='catena-tooltip' href="#" data-toggle="tooltip"
                           title="Your name.">
                            <i class="fa fa-question-circle"></i>
                        </a>
                    </label>
                    <input type="email" class="form-control" id="formControlInput2"
                           placeholder="{{ user_profile.full_name }}" readonly>

                </div>
                <div class="form-group">
                    <label for="formControlInput3">Phone Number &nbsp;
                        <a class='catena-tooltip' href="#" data-toggle="tooltip"
                           title="Your phone number.">
                            <i class="fa fa-question-circle"></i>
                        </a>
                    </label>
                    <input type="email" class="form-control" id="formControlInput3"
                           placeholder="{{ user_profile.phone_number }}" readonly>
                </div>
                <div class="form-group">
                    <label for="formControlInput4">PAI Coin Public Key&nbsp;
                        <a class='catena-tooltip' href="#" data-toggle="tooltip"
                           title="Your public key which is effectively your username.">
                            <i class="fa fa-question-circle"></i>
                        </a>
                    </label>
                    <a target=_blank href="https://paichain.info/ui/address/{{ user_profile.public_key }}/">(PAI
                        Chain)</a>
                    <input type="email" class="form-control" id="formControlInput4"
                           placeholder="{{ user_profile.public_key }}" readonly>
                </div>
                <div class="form-group">
                    <label for="formControlInput5">Description&nbsp;
                        <a class='catena-tooltip' href="#" data-toggle="tooltip"
                           title="The description of who you are.">
                            <i class="fa fa-question-circle"></i>
                        </a>
                    </label>
                    <textarea name="description" class="form-control" id="formControlInput5"
                              rows="3">{{ user_profile.description }}</textarea>
                </div>
                <div class="profile-buttons">
                    <button type="submit" class="btn btn-primary mb-2">Save Changes</button>
                    <button class="btn btn-primary refresh-user-data-button" type="button">Refresh PAI Pass Data
                    </button>
                </div>
            {% else %}
                <div class="form-group">
                    <label for="formControlInput6">Account Type&nbsp;
                        <a class='catena-tooltip' href="#" data-toggle="tooltip"
                           title="The type of account this user has.">
                            <i class="fa fa-question-circle"></i>
                        </a>
                    </label>
                    <input type="email" class="form-control" id="formControlInput6"
                           placeholder="{{ user_profile.account_type }}"
                           readonly>
                </div>
                <div class="form-group">
                    <label for="formControlInput4">PAI Coin Public Key&nbsp;
                        <a class='catena-tooltip' href="#" data-toggle="tooltip"
                           title="This user's public key.">
                            <i class="fa fa-question-circle"></i>
                        </a></label>
                    <a href="https://paichain.info/ui/address/{{ user_profile.public_key }}/">(PAI Chain)</a>
                    <input type="email" class="form-control" id="formControlInput4"
                           placeholder="{{ user_profile.public_key }}" readonly>
                </div>
                <div class="form-group">
                    <label for="formControlInput5">Description&nbsp;
                        <a class='catena-tooltip' href="#" data-toggle="tooltip"
                           title="The description of who this user is.">
                            <i class="fa fa-question-circle"></i>
                        </a>
                    </label>
                    <textarea name="description" class="form-control" id="formControlInput5"
                              rows="3">{{ user_profile.description }}</textarea>
                </div>
                <a type="button" class="btn btn-primary mb-2" href="{{ user_profile.dm_url }}">Send Message</a>
            {% endif %}

        </form>
    </div>
{% endblock %}