{% extends "django_messages/base.html" %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Inbox" %}</h1>
    {% if message_list %}
        <table class="table table-bordered messages">
            <thead>
            <tr>
                <th>{% trans "Sender" %}</th>
                <th>{% trans "Subject" %}</th>
                <th>{% trans "Received" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for message in message_list %}
                <tr>
                    <td class="row-message-sender message-row-cell">

                        <a href="{% url 'users:profile' pub_key_addr=message.recipient %}">{{ message.recipient }}</a>

                    </td>
                    <td class="row-message-subject message-row-cell">


                        {% if message.new %}<strong>{% endif %}
                        {% if message.replied %}<em>{% endif %}
                        <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a>
                        {% if message.replied %}</em>{% endif %}
                        {% if message.new %}</strong>{% endif %}

                    </td>

                    <td class="message-row-cell row-message-sent-date">

                        {{ message.sent_at|date:_("h:m A") }}
                        <br/>
                        {{ message.sent_at|date:_("m/d/Y") }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans "No messages." %}</p>
    {% endif %}
{% endblock %}