{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catena</title>
</head>
<body>
<div data-spy="affix" id="dot-nav">
    <ul>
        <li class="awesome-tooltip active"><a href="#home"></a></li>
        <li class="awesome-tooltip"><a href="#about"></a></li>
        <li class="awesome-tooltip"><a href="#projects"></a></li>
        <li class="awesome-tooltip"><a href="#contact"></a></li>
        <li class="awesome-tooltip"><a href="#joinUs"></a></li>

    </ul>
</div>

<div id="main" class="container landing-page">

    <div class="scrollability">

            <div class="landing-image-container" id="home">
                <img src="{% static "images/catena-01-edit-706x1024.png" %}">

            </div>

            <div class="landing-image-container" id="about">
                <img src="{% static "images/catena-02-edit-706x1024.png" %}">


            </div>

            <div class="landing-image-container" id="projects">
                <img src="{% static "images/catena-03-edit-706x1024.png" %}">

            </div>

            <div class="landing-image-container" id="contact">
                <img src="{% static "images/catena-04-edit-706x1024.png" %}">

            </div>

            <div class="landing-image-container" id="joinUs">
                <a class="btn landing-join-us-btn" href="/gallery">JOIN US</a>

            </div>

    </div>
</div>
<script type="text/javascript" src="{% static 'dist/main.js' %}"></script>

</body>
</html>